# Python
__pycache__/
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.pyc
*.pyo
*.pyd
env/
.venv/
*.egg-info/
build/
dist/

#Outputs
results/

# IDE / OS
.DS_Store
.vscode/
.idea/

# env files
.env

# Generated reports
/backtest_table.tex
